

/*post image */
.img-circle{
    width:60px;
    height:60px;
   
}
.name{
    width:15em;
    height:10em;
    border:1px solid #33cccc;
     margin-left: 2em;
      margin-top: 2em;
     padding:1em;
}
.form-group{
     width:50em;
    height:15em;
    padding:1em;
    border:1px solid grey;
    background-color:rgb(204,254,205);
    margin-left: 10em;
    
}
/*ERD image */
.erd_img{
    width:50em;
    height:25em;
    padding:1px;
    border:1px solid #33cccc;
    background-color:#ff0;
    margin-left: 10em;
}

/*Post Block*/
.post{
    border-color: grey;
    border-style: solid;
    background-color: white;
    margin: 10px;
    float: left;
    width: 90%;
    height:100%;
}

/*Whole Body Block*/
.container{
   
    border-color:rgba(153,0,0,0.2);
    border-style: solid;
    background-color:rgb(204,255,229); 
    padding: 70px 100px;
}
.container2{
     background-color:rgb(204,255,229); 
     padding: 70px 100px;
}
input:focus, textarea:focus{
     background: #ff0;
  }
  
  /*Drop Down Menue*/
.dropdown{
    float :right;
}
/*well*/
.well{
    text-align: center;
     background-color: rgb(204,254,205);
}
.panel-heading,.panel-footer{
 
  background-color: rgb(204,254,205);
  color: rgb(153,0,0);
  font-weight: bold;
  text-align: left;
}
.navbar,.navbar-default{
    background-color: rgb(204,254,205); 
    color: rgb(153,0,0);
}
.nav,.navbar-nav,.navbar-collapse,.collapse{
    color: rgb(153,0,0);
    font-weight: bold;
}

.text-center{
    font-weight:bold;
    color:rgb(153,0,0);
}
h3{
   color:rgb(153,0,0);
}
h2{
   color:rgb(153,0,0);
   text-align:center;
   margin: 3em;
    background-color: rgb(204,254,205);
}
#main-heading{
    color:rgb(153,0,0);
   text-align:center;
}
p1{
    color:rgb(153,0,0);
    font-weight: bold;
}
.first-heading{
     background-color: rgb(204,254,205);
     margin:1em;
}
.post-body{
    color:rgb(153,0,0);
    font-weight:bold;
}
.form{
     color:rgb(153,0,0);
     background-color: rgb(204,254,205);
     
}
.form-edit{
    margin:7%;
     color:rgb(153,0,0);
     background-color: rgb(204,254,205); 
     text-align:center;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
    color:rgb(153,0,0);
}
a:visited {
    color: rgb(218, 165, 32);
}
a:hover {
    color: green;
}
a:link {
    color: rgb(125, 158, 92);
}

.newsfeed{
    float: right;
    background-color: rgb(204,254,205);
     border-color:rgba(153,0,0,0.2);
    border-style: solid;
     padding: 5px;
}

.searchBox{
    float: right;
}
.userMenue{
    display: block;
    color:rgb(153,0,0);
    background-color: rgb(204,254,205); 
}

.profile{
   
    color:rgb(153,0,0);
    font-weight: bold;
    /*background-color: rgb(197,218,253);*/
}

.addPost{
  border-color:rgba(153,0,0,0.2);
  border-style: solid;
  background-color:rgb(204,255,229);
  display: block;
  color:rgb(153,0,0);
  padding : 40px;
}

.delete{
    float: right;
}

